{% extends "base.html" %}
{% load active_link_tags %}
{% load django_htmx %}
{% load static %}

{% block title %}
	<!--suppress ALL -->


<title>
		{% if category %}
			{{ category.name }}
			{% else %}
				Products
		{% endif %}
	</title>
{% endblock %}

{% block content %}
	<div class="flex flex-col md:flex-row space-x-8 h-full">

		<!-- sidebar -->
		<div>
			<nav
				class="flex flex-col w-full md:w-72 px-4 tex-gray-900 border-r-2 border-lime-600 bg-lime-600
						text-white h-full"
			>
				<div class="font-bold text-xl mt-20">
					Categories
				</div>

				<div class="mt-4 mb-4">
					<ul class="text-lg font-semibold">
						<a href="{% url 'shop:product_list' %}">
							<button
								type="button"
								class="{% active_link 'shop:product_list' strict=True css_class='font-semibold text-white bg-lime-800 hover:bg-lime-800' %}
										px-4 py-3 hover:text-white cursor-pointer hover:bg-lime-700 font-semibold
										rounded rounded-sm w-full text-left"
							>
								All
							</button>
						</a>

						{% for c in categories %}
							<li>
								<a href="{% url 'shop:product_list_by_category' c.slug %}">
									<button
										type="button"
										{% if c.slug == category.slug %}
											class="mt-2 px-4 py-3 text-white border-lime-700 hover:text-white cursor-pointer
												   bg-lime-800 hover:bg-lime-800 font-semibold rounded rounded-sm
												   w-full text-left"
											{% else %}
												class="mt-2 px-4 py-3 hover:text-white cursor-pointer w-full text-left
													   hover:bg-lime-700 font-semibold rounded rounded-sm"
										{% endif %}
									>
										{{ c.name }}
									</button>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</nav>
        </div>

		<!-- content -->
		<div id="main" class="w-screen bg-none pb-12 pt-14">
			<h1 class="font-bold text-3xl text-gray-800">
				{% if category %}
					{{ category.name }}
					{% else %}
						<span class="inline-flex">Our Delicacies</span>
				{% endif %}
			</h1>

			<div
				id="products"
				class="grid grid-cols-1 md:grid-cols-3 gap-y-8 md:gap-x-1 mt-8 mb-8"
			>
				{% for product in products %}
					<div
						class="flex flex-col w-80 border shadow-lg hover:border-lime-600
								pb-6"
					>
						<a href="{{ product.get_absolute_url }}">
							<img
								class="w-full h-60"
								src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}"
								alt="{{ product.name }}"
							>

							<div class="mx-auto text-center mt-4 font-bold w-48">
								<p class="text-gray-600 text-lg">
									{{ product.name }}
								</p>

								<p class="mt-2 text-lg text-lime-700">
									${{ product.price }}
								</p>

								<button
									class="mt-4 px-6 py-3 text-white text-lg bg-lime-700 rounded rounded-sm
											border-lime-700 hover:bg-lime-800"
								>
									Add to Bag
								</button>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}