{% extends "base.html" %}
{% load active_link_tags %}
{% load django_htmx %}
{% load static %}

{% block title %}
	<title>
		{% if category %}
			{{ category.name }}
			{% else %}
				Products
		{% endif %}
	</title>
{% endblock %}

{% block content %}
	<div class="flex flex-row space-x-8 h-full">

		<!-- sidebar -->
		<div>
			<nav class="flex flex-col w-72 h-screen px-4 tex-gray-900">
				<div class="font-bold text-xl text-gray-800 mt-20">
					Categories
				</div>

				<div class="mt-4 mb-4">
					<ul>
						<a>
							<button
								type="button"
								hx-get="{% url 'shop:product_list' %}"
								hx-target="#products"
								class="{% active_link 'shop:product_list' css_class='text-white bg-orange-600' %}
										px-4 py-3 text-gray-800 border-orange-900 hover:text-white cursor-pointer
										hover:bg-orange-700 font-bold rounded rounded-sm w-full text-left"
							>
								All
							</button>
						</a>

						{% for c in categories %}
							<li
								hx-get="{% url 'shop:product_list' %}"
								hx-target="#products"
								{% if category.slug == c.slug %}
									class="mt-2 px-4 py-3 text-gray-800 border-purple-900 hover:text-white cursor-pointer
										   bg-purple-900 hover:bg-purple-700 font-bold rounded rounded-sm"
									{% else %}
										class="mt-2 px-4 py-3 text-gray-800 border-purple-900 hover:text-white cursor-pointer
										       hover:bg-orange-300 font-bold rounded rounded-sm"
								{% endif %}
							>
								<a href="{{ c.get_absolute_url }}">
									{{ c.name }}
								</a>
							</li>
						{% endfor %}

					<li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
					  <span>
					    <svg class="fill-current h-5 w-5 " viewBox="0 0 24 24">
					      <path
					        d="M12 13H7v5h5v2H5V10h2v1h5v2M8
					            4v2H4V4h4m2-2H2v6h8V2m10 9v2h-4v-2h4m2-2h-8v6h8V9m-2
					            9v2h-4v-2h4m2-2h-8v6h8v-6z"
					      ></path>
					    </svg>
					  </span>
					  <a href="#">
					    <span class="ml-2">Tasks</span>
					  </a>
					</li>
					<li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
					  <span>
					    <svg
					      class="fill-current h-5 w-5 "
					      viewBox="0 0 24 24"
					      fill="none"
					      xmlns="http://www.w3.org/2000/svg"
					    >
					      <path
					        fill-rule="evenodd"
					        clip-rule="evenodd"
					        d="M7 3C8.86384 3 10.4299 4.27477 10.874 6H19V8H10.874C10.4299 9.72523 8.86384 11 7 11C4.79086 11 3 9.20914 3 7C3 4.79086 4.79086 3 7 3ZM7 9C8.10457 9 9 8.10457 9 7C9 5.89543 8.10457 5 7 5C5.89543 5 5 5.89543 5 7C5 8.10457 5.89543 9 7 9Z"
					        fill="currentColor"
					      />
					      <path
					        fill-rule="evenodd"
					        clip-rule="evenodd"
					        d="M17 20C15.1362 20 13.5701 18.7252 13.126 17H5V15H13.126C13.5701 13.2748 15.1362 12 17 12C19.2091 12 21 13.7909 21 16C21 18.2091 19.2091 20 17 20ZM17 18C18.1046 18 19 17.1046 19 16C19 14.8954 18.1046 14 17 14C15.8954 14 15 14.8954 15 16C15 17.1046 15.8954 18 17 18Z"
					        fill="currentColor"
					      />
					    </svg>
					  </span>
					  <a href="#">
					    <span class="ml-2">Settings</span>
					  </a>
					</li>

					</ul>
				</div>
			</nav>
        </div>

		<!-- content -->
		<div id="main" class="w-screen h-screen bg-none mt-14">
			<h1 class="font-bold text-3xl text-gray-800 ml-4">
				{% if category %}
					{{ category.name }}
					{% else %}
						Our Specials
				{% endif %}
			</h1>

			<div id="products" class="grid grid-cols-3 gap-x-4 mt-4">
				{% for product in products %}
					<div class="flex flex-col w-full hover:shadow-lg p-4">
						<a href="{{ product.get_absolute_url }}">
							<img
								class="w-96 h-64"
								src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/default.png' %}{% endif %}"
								alt="{{ product.name }}"
							>

							<div class="mx-auto text-center mt-2 font-bold w-48">
								<p class="text-orange-600 text-xl">
									{{ product.name }}
								</p>
								<p class="text-lg font-semibold">
									NGN {{ product.price }}
								</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}