{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
	<title>
		{{ product.name }}
	</title>
{% endblock %}

{% block content %}
	<div id="messages"></div>

	<div class="flex flex-col mb-14 space-y-4">
		<div
			class="mt-12 w-full p-4 md:pl-4 flex flex-col md:flex-row space-y-8 md:items-center
				   md:space-y-0 md:space-x-8"
		>
			<!-- Product Image -->
			<div class="flex w-full md:w-2/5 h-full">
				<img
					class="w-full h-full"
					src="{% if product.image %}
							{{ product.image.url }}
								{% else %}
									{% static 'img/no_image.png' %}
						{% endif %}"
				>
			</div>

			<!-- Other details -->
			<div class="flex md:mt-0 text-gray-800 h-full flex-col">
				<!-- Product Name -->
				<p class="text-gray-800 text-3xl font-bold">
					{{ product.name }}
				</p>

				<!-- Product Category -->
				<p class="mt-2 text-xl font-semibold text-lime-700">
					<a href="{{ product.category.get_absolute_url }}">
						{{ product.category }}
					</a>
				</p>

				<!-- Product Availability -->
				<p
					class="mt-6 text-lg font-semibold p-1 w-1/4 rounded-sm text-center text-white bg-lime-700"
				>
					In Stock
				</p>

				<!-- Product Price -->
				<p class="mt-8 font-bold text-gray-800 text-2xl">
					${{ product.price }}
				</p>

				<!-- Product Quantity and Add to Bag Components -->
				<div class="mt-6">

					<!-- Decrease/Increase Quantity and Add to Bag buttons -->
					<form
						class="flex flex-row items-center"
					>
						<div class="max-w-xs">
						    <label
							    for="quantity-input"
							    class="block text-left mb-2 text-xl font-bold text-gray-900"
						    >
							    {{ cart_form.quantity.label_tag }}
						    </label>
						    <div
							    class="relative flex items-center max-w-[11rem] rounded-sm border-gray-300 h-14"
						    >

								<!-- Decrease Button -->
						        <button
							        type="button"
							        id="decrement-button"
							        data-input-counter-decrement="quantity-input"
							        class="bg-gray-400 hover:bg-lime-600 p-5 hover:border-lime-600 h-full"
						        >
						            <svg
							            class="w-3 h-3 text-gray-800"
							            aria-hidden="true"
							            xmlns="http://www.w3.org/2000/svg"
							            fill="none"
							            viewBox="0 0 18 2"
						            >
						                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
						            </svg>
						        </button>

							    <input
								    type="text"
								    id="quantity-input"
								    data-input-counter data-input-counter-min="1"
								    data-input-counter-max="50"
								    aria-describedby="helper-text-explanation"
								    class="bg-gray-50 text-center text-gray-800 text-lg w-full px-1 py-3 border-gray-300 h-full"
								    placeholder="1"
								    name="quantity"
								    value="{{ cart_form.quantity.value }}"
								    required
							    />

							    <!-- Increase Button -->
							    <button
								    type="button"
								    id="increment-button"
								    data-input-counter-increment="quantity-input"
							        class="bg-gray-400 hover:bg-lime-600 p-5 hover:border-lime-600 h-14"
							    >
						            <svg
							            class="w-3 h-3 text-gray-800"
							            aria-hidden="true"
							            xmlns="http://www.w3.org/2000/svg"
							            fill="none"
							            viewBox="0 0 18 18"
						            >
						                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
						            </svg>
						        </button>
						    </div>
						</div>

						<!-- Add to Bag Button -->
						<div class="ml-4 self-end">
							<button
								type="button"
								hx-post="{% url 'cart:cart_add' product.id %}"
								hx-swap="outerHTML"
								hx-target="#messages"
								class="px-6 py-3.5 text-white text-lg bg-lime-700 rounded rounded-sm h-14 border-lime-700
									   hover:bg-lime-800 inline-flex items-center"
							>
								Add to Bag
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-6 text-white w-6 h-6 ml-2"
								>
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
								</svg>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Product Description -->
		<div class="p-4">

			<!-- Product Name -->
			<p class="text-gray-800 text-3xl font-bold">
				Description
			</p>

			<!-- Product Description -->
			<p class="w-full md:max-w-7xl mt-4 font-semibold text-lg text-justify">
				{{ product.description }}
			</p>
		</div>
	</div>
{% endblock %}