{% extends "base.html" %}
{% load static %}

{% block title %}
	<title>
		Home - Welcome to Jennifer's Kitchen
	</title>
{% endblock %}

{% block content %}
	<div class="bg-lime-500 h-full p-8">
		<!-- mini Header -->
		<div class="">
			<p class="font-bold text-5xl text-lime-900 w-full">
				Home Just Got Closer
			</p>
		</div>

		<!-- max Header -->
		<div class="">
			<p class="mt-4 font-bold text-8xl leading-tight text-gray-900 w-full max-w-4xl">
				Exclusive Delicious Nigerian Dishes
			</p>
		</div>

		<!-- Add to Cart button -->
		<a href="{% url 'shop:product_list' %}">
			<button
				type="button"
				class="mt-14 p-5 text-white text-xl bg-lime-800 rounded rounded-sm font-semibold
					   hover:bg-lime-900"
			>
				Explore Our Menu
			</button>
		</a>
	</div>
{% endblock %}